/* Importacion para una fuente de texto de Google */
@import "Actividad4A.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Tilt+Warp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.bi{
    background: rgb(150, 150, 150);
    color: #fff
}

.bg-card {
    background-color: #3c3c3c;
}


.red{
    color: #63eafc;
}

.just{
    color: rgb(255, 255, 0);
}

.eye {
    background-color: rgb(63, 63, 63);
  
    color: #ffffff;

    border: 0.5px solid rgb(116, 205, 246);
}

.eye:hover {
    color: #000000;
    background-color: #fff;
}